* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 25px;
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: column;
  gap: 0px;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  z-index: -1;
}

.nav-with-background {
  width: 100%;
  height: 80px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  background-image: url('graph-market-thinkstock.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white; 
}

.left {
  display: flex;
  align-items: center;
}

.menu-icon {
  width: 45px;
  height: 85px;
  cursor: pointer;
  margin-right: 10px;
}

.menu-icon svg {
  fill: white; 
}

.stocks {
  color: white;
  margin-right: 5px;
  text-align: center;
}

.center {
  flex: 1;
  text-align: center;
}



body {
  background: #3e5669;
}

.main {
  padding: 1%; 
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

input {
  border: 3px solid lightblue;
  height: 40px;
  width: 500px;
  border-radius: 50px;
  padding: 0px 10px;
}

.btn {
  margin-left: -40px; 
}

.btn a {
  display: inline-block;
  background-color: lightblue;
  border-radius: 10%;
  padding: 10px;
}

.btn i {
  color: black;
}

.heading {
  font-size: 36px;
  font-weight: bold;
  color: white; 
  margin-top: 5px;
}

.update {
  color: #8a8585;
}

.heads {
  color:white;
}

.darken-image{
  filter: brightness(50%)
}


.market{
  color:white;
}

.blah{
  font-size: 20px;
  color:white;
}




